@import url("https: //fonts.googleapis.com/icon?family=Material+Icons");

*
{
    padding: 0;
    margin: 0;
}

nav
{
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: row-reverse;
    padding: 10px;
}

nav ul
{
    display: flex;
    gap: 2rem;
    list-style: none;
}
nav ul a
{
    padding: .5rem;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}


.conteiner-btn
{
    height: 100vh;
        background: linear-gradient(to left, black, rgba(50, 45, 45, 0.76)), url("./images/homebg.jpg");
        width: 100%;
        background-position: center;
        background-size: cover;
        position: relative;


        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 2rem;


}
button
{
    cursor: pointer;
}

button:active
{
    transform: scale(.9);
}

.btnContainer button
{
 
padding: 20px;
text-transform: uppercase;
font-weight: bold;
color: aqua;
display: flex;
justify-content: center;
align-items: center;

}
.btnContainer button:first-child
{

    background-color: black;
    border: none;

}
.btnContainer button:nth-child(2)
{
    background-color: #ccc;
    color: #000;
    border: none;
}
.btnContainer
{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
}




.NewFaceEnroll
{
    height: 3rem;
    background-color: green;
    border: none;
}